@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayRoman.ttf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding:  10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000c5;
    position: relative;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000c5;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

nav h3 {
    display: none;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 71vh;
}

#hero-1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, rgb(255, 60, 0));
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, rgb(255, 60, 0));
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,20%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0vw;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 1vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw;
    margin-top: 5vw;
}

#page2-bottom h1{
    font-size: 4.5vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2{
    width: 24%;
    margin-top: 16vw;
    left: 0;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 10px;
}

#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.2vw;
    width: 105%;
}