@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayRoman.ttf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vh 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-left: 3vw;
}

#nav-part2 h4 {
    padding:  10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 200;
    color: #000000c5;
    position: relative;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000c5;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

nav h3 {
    display: none;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 71vh;
}

#hero-1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, rgb(255, 60, 0));
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, rgb(255, 60, 0));
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,20%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vh 0vw;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 1vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw;
    margin-top: 5vw;
    position: relative;
    z-index: 9;
}

#page2-bottom h1{
    font-size: 4.5vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2{
    width: 24%;
    margin-top: 16vw;
    left: 0;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 10px;
}

#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.2vw;
    width: 105%;
}

#page2 #gooey{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: 55%;
    left: 25%;
    /* filter: blur(20px); */
    animation-name: gooey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vh 0vw;
}

.elem{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 1px solid #0000003c;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}

.elem h2{
    font-size: 4vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay{
    top: 0;
}

.tiny{
    display: flex;
    align-items: center;
    padding-left: 3vw;
    height: 150px;
}

.tiny img{
    height: 9px;
}

.tiny h3{
    padding-left: 1%;
    font-weight: 200;
    font-size: 100%;
}

.brand{
    position: relative;
    z-index: 9;
    text-align: right;
    font-weight: 200;
    font-style: normal;
}

.brand p{
    color: #00000079;
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 18px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 18%;
    display: none;
    background-size: cover;
    background-position: center;
}

#proj-gap{
    padding-bottom: 4vw;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 6vh 2vw;
    /* position: relative; */
}

#DPE{
    background-color: #0b0500;
    border-radius: 20px;
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    
}

#DPE img{
    border-radius: 20px;
    height: 110vh;
}

#DPE h1{
    color: #504A45;
    font-size: 5.3vw;
    margin-top: -1.1vw;
}

#DPE p{
    color: #fff;
    font-weight: 200;
    margin-top: 2.3vw;
}

#DPE #vertical{
    padding-left: 10vw;
    padding-right: 10vw;
}

#page5{
    height: 80vh;
    width: 100%;
    background-color: #efeae3;
}

.swiper {
    width: 100%;
    height: 66%;
}

.swiper-mySwiper{
    padding: 8vh 0vw;
    padding-bottom: 2vw;
}

.swiper-slide {
    border-left: 1px solid #bfbbb6;
    width: 20%;
    padding: 0 2vw;
}

.swiper-slide img{
    /* height: 100%; */
    width: 10em;
    display: inline-block;
    object-fit: cover;
}

.swiper-slide p{
    font-weight: 200;
    padding: 3vh 0;
}

#page6{
    height: 100vh;
    width: 100%;
    /* background-color: #efeae3; */
}

#footer{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #0b0500;
    color: #efeae3;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vh 3vw;
}

#footer h1{
    font-size: 23vw;
}

#footer-div{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
}

#footer-bottom{
    border-top: 1px solid #504a45;
    height: 5vh;
    width: 100%;
}

#footer-left{
    font-size: 20px;
}

#footer-right{
    font-weight: 200;
    font-size: 20px;
    width: 25%;
    border-bottom-color: #efeae3ad;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

/* #footer-right p{
    background-color: aqua;
} */

#email-2{
    background-color: transparent;
    border: 1px #000;
    padding: 16px 0;
    color: #efeae3;
    font-weight: 200;
    font-size: 16px;
}

#email-2::placeholder{
    color: #efeae3ad;
}

#footer #gooey-1{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -200px;
    left: -20px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes gooey-footer {
    from{
        filter: blur(20px);
        transform: translate(1%, 10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(1%, -1%) skew(-24deg);
    }
}

#footer #gooey-2{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -200px;
    left: 160px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-3{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -200px;
    left: 280px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-4{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -250px;
    left: 400px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-5{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -200px;
    left: 560px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-6{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -200px;
    left: 750px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-7{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -180px;
    left: 950px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-8{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: -50px;
    left: 1050px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #gooey-9{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#fe260a, #fc621a);
    top: 50px;
    left: 1250px;
    animation-name: gooey-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#footer #under{
    /* height: 10vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 25px 0;
}

#under #loc{
    top: 0;
    display: flex;
    align-items: center;
}

#under h3{
    font-weight: 200;
    font-size: 16px;
}

#loc img{
    padding-right: 5px;
}

@media (max-width:600px) {
    #page1 {
        min-height: 100vh;
        width: 100vw;
        background-color: #efeae3;
        position: relative;
        padding: 0 5vw;
    }
    
    nav {
        padding: 0vh 8vw;
        width: 100%;
        display: flex;
        align-items: center;
    
        justify-content: space-between;
    }

    nav img{
        height: 9vh;
    }
    
    #nav-part2 {
        display: none;
        align-items: center;
        gap: 1vw;
        padding-left: 3vw;
    }
    
    #nav-part2 h4 {
        padding:  10px 20px;
        border: 1px solid #8a8a8a89;
        border-radius: 50px;
        font-weight: 200;
        color: #000000c5;
        position: relative;
        transition: all ease 0.4s;
        font-size: 18px;
        overflow: hidden;
    }
    
    #nav-part2 h4:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    }
    
    #nav-part2 h4:hover::after {
        bottom: 0;
        border-radius: 0;
    }
    
    #nav-part2 h4 a {
        color: #000000c5;
        text-decoration: none;
        z-index: 9;
        position: relative;
    }
    
    #nav-part2 h4:hover a {
        color: #fff;
    }
}